/*1*/
h1 {
    text-align: center
}
/*2*/
p{
    font-family: serif;
}
/*3*/
#primer-parrafo{
    background-color: #CEE;
}
/*4*/
#contenedor #primer-parrafo em {
    color: #933;
}
/*5*/
a {
    outline: 1px solid #333 ;
}
/*6*/
body p.fuente.parrafo{
    opacity: 1 ;
}
/*7*/
p.fuente.parrafo {
    color: #000 !important; 
}
/*8*/
.complicado {
    font-weight: bold; 
    color: #C62 !important;       
}


















